@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import "tailwindcss";

:root{
  --primary-color:#235162;
  --secondary-color:#EDE7D3;
}
*{font-family: "Cinzel", serif;}
body{background-color: var(--secondary-color);}
.container{margin: auto;}
.shadow-custom{box-shadow: 4px 4px 20px 0 rgba(35, 81, 98, 0.63);}