@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root{
--primary-color:#235162;
--secondary-color:#EDE7D3;
--gradient: linear-gradient(0deg, rgba(26, 74, 91, 0) 0%, #EDE7D3 49.5192%, rgba(26, 74, 91, 0) 100%);
}
*{font-family: "Cinzel", serif;}
body{background-color: var(--secondary-color);}
.container{margin: auto;padding-left: 15px;padding-right: 15px;}
p{letter-spacing: 0.5px;font-size: 14px;}
.shadow-custom{box-shadow: 4px 4px 20px 0 rgba(35, 81, 98, 0.63);}
.font-manrope{  font-family: "Manrope", sans-serif;}
.header__main{transition: 0.6s all;}
.header__main img{transition: 1s all;}
.header__main.active{background:var(--primary-color);position: fixed;padding-block: 18px;}
.header__main.active .book_btn{background-color: #fff;color:#000;font-weight: 500;}
.header__main.active .logo{width: 130px;}
.content_ref{opacity: 0;}
.content_sec,
.content_sec * {
will-change: transform, opacity;
transform: translateZ(0); /* Force hardware acceleration */
}

#smooth-wrapper {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
}

#smooth-content {
position: absolute;
top: 0;
left: 0;
width: 100%;
}
img {
will-change: clip-path, opacity;
transform: translateZ(0);
}
.line-gradient{background:linear-gradient(to right, rgba(35, 81, 98, 0.3), rgba(237, 231, 211, 0.5) 50%, rgba(35, 81, 98, 0.2));}
.artistic_impression{background: linear-gradient(1deg, #00000099, transparent);width: 100%;}


@media (max-width: 1536px) and (min-width: 1440px) {
.heading-text {
top: 24%;
font-size: 32px;
}
}
@media (max-width: 1440px) {
.heading-text {
right: -112px;
}
.heading-text{top:25%;}
/* .banner_sec{background-position-y:-155px ;} */
.content_sec{margin-top: 25px!important;}
.content_sec p{font-size: 14px;}
}

@media (max-width: 1367px) {

h1{font-size: 30px;}
/* h3{font-size: 25px;} */

h2{font-size: 28px;}
.heading-text {
top: 28% !important;}
.content_sec{padding: 0;}
}

@media (max-width: 1280px) {
/* .banner_sec{background-position-y:-180px ;} */
.banner_sec .heading-text{top: 28%!important;}

}

@media (max-width: 991px) {

  .form_modal input{padding: 15px 0;margin: 0;}
    .form_modal textarea{padding: 15px 0;}
.form_modal  button{margin-top: 20px;}
.typology-point .type_itm {
position: relative;
}
.bg_mob{background-position: bottom;}
.typology-point .type_itm::after {
content: "";
position: absolute;
height: 70%;
width: 2px;
background: var(--gradient);
top: 0;
right: 0;
}

.typology-point .type_itm:nth-child(3)::after {
content: none;
}

.typology-point .type_itm:nth-child(5)::before {
content: none;
display: none;
}

.typology-point .type_itm::before {
content: "";
position: absolute;
height: 100%;
width: 2px;
background: var(--gradient);
bottom: -50%;
left: 50%;
transform: translateX(-50%) rotate(270deg);
}
.banner_sec{background-position: bottom;}
}
@media (max-width: 575.98px) {

/* h3{font-size: 25px;} */

h2{font-size: 24px;}
.container {
max-width: 100%;
}
}

@media (max-height: 730px) {
/* */
.content_sec p{font-size: 13px;}
}
@media (min-width: 576px) {
.container {
max-width: 500px;
}
} 

@media (min-width: 768px) {
.container {
max-width: 700px;
}
}

@media (min-width: 992px) {
.container {
max-width: 900px; 

}
}

@media (max-width: 420px) {
  .heading-text{padding-bottom:85px;}
}

@media (min-width: 1200px) {
.container {
max-width: 1100px; /* Custom width for xl */
}
}

@media (min-width: 1400px) {
.container {
max-width: 1300px; /* Custom width for xxl */
}
}
